/*6 task*/

table {
    background-color: yellow;
    border-collapse: collapse;
}

thead tr {
    font-weight: bold;
    border-bottom: 1px solid red;
}

/*7 task*/

.btn {
    width: 85px;
    height: 21px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border-radius: 8px;
    outline: none;
    border: 1px solid #DCDCDC;
    border-right-color: #C0C0C0;
    border-bottom-color: #C0C0C0;
    background: linear-gradient(to top, #DCDCDC, #FFFFF0);
}

.btn:active{
    border: 1px solid #C0C0C0;
    border-right-color: #DCDCDC;
    border-bottom-color: #DCDCDC;
    background: linear-gradient(to top, #FFFFF0, #DCDCDC);
}